# Ignore node modules
node_modules

# Ignore build files
build

# Ignore enviroment variables
.env

# Ignore .jest dir
.jest

# Ignore gcp creds
tildelete-744e4-243bbba415c9.json

# Ignore gcp app.yaml
app.yaml